
trigger:
- main

pool:
  name: 'Home Desktop'

variables:
  solution: 'diet.sln'

steps:
- task: DotNetCoreCLI@2
  inputs:
    command: 'build'
    projects: '$(solution)'

- task: DotNetCoreCLI@2
  inputs:
    command: 'test'
    projects: '$(solution)'
